In [1]:
print("Hello world")

Hello world

In [3]:
value = input("값을 입력해주세요.")

값을 입력해주세요.10

In [4]:
value

'10'

In [5]:
x = 10

In [6]:
x

10

In [7]:
x, y, z = 10, 20, 30

In [8]:
x

10

In [9]:
y

20

In [10]:
z

30

# 1.정수형

In [11]:
type(10)

int

In [12]:
type(10.0)

float

In [13]:
a = 2
b = 3
a, b

(2, 3)

In [14]:
a + b

5

In [15]:
a - b

-1

In [17]:
a / b

0.6666666666666666

In [19]:
a ** b

8

In [20]:
a // b

0

In [21]:
a % b

2

In [22]:
print(a + b *a) #8
print(
(a+b)*a)#10

8
10

## 연습문제0

In [24]:
a = 7
b = 3.0

In [31]:
c = a // b

In [32]:
print(c)

2.0

In [29]:
d = a % b

In [30]:
print(d)

1.0

In [33]:
e = a ** b

In [34]:
print(e)

343.0

In [35]:
a, b = 7, 3.0
type(a), type(b)

(int, float)

In [37]:
c = int(b)
type(c)

int

In [38]:
c

3

In [39]:
d = float(a)
print(type(d))
print(d)

<class 'float'>
7.0

In [53]:
mike, judy, sera = 80, 75, 100
avg_score = (80+75+100)/3
avg_score = int(avg_score)
avg_score

85

# Bool

In [54]:
a = True
a

True

In [55]:
b = False
b

False

In [56]:
type(a)

bool

# 비교 연산자

In [57]:
a , b = 1, 2

In [58]:
print(a<b)# True
print(a<=b)#True
print(a>b)# False
print(a>=b)#False
print(a==b)#False
print(a!=b)#True

True
True
False
False
False
True

In [59]:
print(True and True) #True

print(True and False) #False
print(False and False) #False

True
False
False

In [60]:
print(True or True)#Ture
print(True or False)#True
print(False or False)#False

True
True
False

In [61]:
a = 10
print (a>10 or a ==10) #True

True

In [62]:
not a>10 #True

True

In [66]:
value1 = int(input("점수1: ")) #형뱐환
value2 = int(input("점수2: "))
value3 = int(input("점수3: "))
(value1 > 65)  and (value2 >65) and (value3 >65)

점수1: 87
점수2: 95
점수3: 88

True

In [67]:
a = None
a

In [68]:
print(a)

None

# Str

In [69]:
quote1 = "안녕하세요. 저는 김지연입니다."
quote1
type(quote1)

str

In [71]:
quote2 = '안녕하세요. 저는 김지연입니다.'
quote2
type(quote2)

str

In [82]:
quote1 =  """안녕하세요. 
저는 김지연입니다."""
print(quote1)

안녕하세요.
저는 김지연입니다.

# 연산자

In [76]:
a = "사과"
b = "과일"

In [78]:
c = a + b
c

'사과과일'

In [79]:
a  * 10

'사과사과사과사과사과사과사과사과사과사과'

# Escape Code

In [80]:
quote1 =  """안녕하세요. 
저는 김지연입니다."""
print(quote1)

안녕하세요.
저는 김지연입니다.

In [81]:
quote1

'안녕하세요. \n저는 김지연입니다.'

In [83]:
quote = "안녕하세요. \n저는 김지연입니다."
print(quote)

안녕하세요.
저는 김지연입니다.

In [84]:
quote2 = "\"김지연\"입니다."
print(quote2)

"김지연"입니다.

In [86]:
quote3 = '"김지연"입니다.'
print(quote3)

"김지연"입니다.

### Indexing, Slicing

In [87]:
quote = "안녕하세요. 김지연입니다."
quote

'안녕하세요. 김지연입니다.'

In [88]:
quote[0]

'안'

In [89]:
quote[2]

'하'

In [90]:
quote[-1] #뒤에서 부터

'.'

In [91]:
quote[-2]

'다'

In [92]:
quote[0:6]#0부터 5번까지

'안녕하세요.'

In [93]:
quote[0:7]#0부터 6번까지

'안녕하세요. '

In [94]:
quote[3:12]

'세요. 김지연입니'

In [95]:
quote[:12]

'안녕하세요. 김지연입니'

In [96]:
quote[5:] #default 끝까지

'. 김지연입니다.'

In [97]:
quote[:]

'안녕하세요. 김지연입니다.'

In [99]:
quote[::2]

'안하요 지입다'

In [100]:
quote[::3]

'안세 연다'

In [114]:
a = "20190505chicken19000"
year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]
print(year)
print(day)
print(menu)
print(money)

2019
0505
chicken
19000

# 문자열 포맷팅

In [115]:
name = "김지연"
major = "coumputer"

In [116]:
intro = "안녕하세요. %s입니다. 전공은 %s입니다." %(name, major)
intro

'안녕하세요. 김지연입니다. 전공은 coumputer입니다.'

In [117]:
intro = "안녕하세요. {}입니다. 전공은 {}입니다." .format(name, major)
intro

'안녕하세요. 김지연입니다. 전공은 coumputer입니다.'

In [119]:
pi = 3.141592
pi_def = "PI는 %f입니다." %pi
pi_def

'PI는 3.141592입니다.'

In [122]:
pi = 3.141592
pi_def = "PI는 %.2f입니다." %pi
pi_def

'PI는 3.14입니다.'

In [123]:
f"PI는 {pi}입니다"

'PI는 3.141592입니다'

In [130]:
a = "90:30:80"

# code 작성
math = int(a[0:2])
english = int(a[3:5])
science = int(a[6:8])
average = int((math + english + science)/3)
score = "평균 점수는 %s입니다." %average
score

'평균 점수는 66입니다.'

# 문자열 함수

In [132]:
quote = "안녕하세요. 김지연입니다."
quote

'안녕하세요. 김지연입니다.'

In [133]:
len(quote)#공백포함

14

In [135]:
quote.index(".") #몇번쨰에 있는가!

5

In [136]:
"Apple".upper()#대문자로 바꿔주기

'APPLE'

In [137]:
"Apple".lower()#소문자로 바꿔주기

'apple'

In [140]:
quote.replace('.','?')

'안녕하세요? 김지연입니다?'

In [141]:
quote.count(".")#quote에서 .의 갯수는 몇 개인가요?

2

In [142]:
a = "  안녕하세요.   "
a

'  안녕하세요.   '

In [143]:
a.lstrip()#왼쪽 공백없애기

'안녕하세요.   '

In [144]:
a.rstrip()#오른쪽 공백 없애기

'  안녕하세요.'

In [145]:
a.strip()#양쪽 다 공백 없애기

'안녕하세요.'

In [146]:
a = "90:30:80"
b = a.split(":")
b#문자역을 리스트

['90', '30', '80']

In [148]:
fruit  = "Apple Banana"
fruit_list = fruit.split(" ")
fruit_list

['Apple', 'Banana']

In [149]:
",".join(fruit_list)#리스트를 문자열로 만들어줌

'Apple,Banana'

In [150]:
".".join(b)

'90.30.80'

# 연습문제6
a="  90:30:80  "이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다. 
문자열 함수를 이용해 공백을 제거하고,  
각 점수를 각각 math, english, science 변수에 저장한 후,
average 란 변수에 평균값을 저장하고 출력하시오.
이 때 출력의 형태는 “평균 점수는 ~~입니다.”로 하시오.

In [161]:
a="90:30:80"
b = a.split(":")
math = int(b[0])
english = int(b[1])
science = int(b[2])
avg = (math + english+ science)/3
score = "평균 점수는 %.2f입니다." %avg
score

'평균 점수는 66.67입니다.'

In [174]:
a=" 90:30:80  "
a = a.strip()
score_list = a.split(":")
#math = int(score_list[0])

#score_list =  a.split(":")
score_list

['90', '30', '80']

In [175]:
math, english, science=list(map(int, score_list))#map은 첫번쨰 인자에 함수, 두번째 인자는 리스트
avg = (math + english + science)/3
print("평균 점수는 {:.2f}입니다." .format(avg))

평균 점수는 66.67입니다.

# List

In [195]:
a = [1, 3.14,"Apple",['a','b','c']]#리스트안에 다양한 형태가 가능함
a

[1, 3.14, 'Apple', ['a', 'b', 'c']]

In [196]:
len(a)

4

In [197]:
b = []
type(b)#요소가 없어도 리스트, 값이 존재하지 않는다

list

In [198]:
c = list()
c

[]

# range

In [199]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [200]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [201]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [202]:
list(range(3,30,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [204]:
list1 = list(range(3,30,3))
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [205]:
tuple1 = tuple(list1)
tuple1

(3, 6, 9, 12, 15, 18, 21, 24, 27)

In [206]:
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [207]:
list1[0]#3

3

In [208]:
list1[1:5]

[6, 9, 12, 15]

In [209]:
list1[1:5:2]

[6, 12]

In [210]:
list1[0] = 'a'
list1

['a', 6, 9, 12, 15, 18, 21, 24, 27]

In [211]:
list1[1:4] = ['b','c','d']#통째로 값을 바꾸는 방법
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [212]:
del list1[-1]
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [213]:
a = 10
del a
a

NameError: name 'a' is not defined

In [214]:
'a' in list1 #Ture

True

In [215]:
'e' in list1 #False

False

In [216]:
'a' not in list1 #False

False

In [217]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [218]:
list1+[10,20]#연결

['a', 'b', 'c', 'd', 15, 18, 21, 24, 10, 20]

In [219]:
print(list1 *3)#3번 반복해서 합침

['a', 'b', 'c', 'd', 15, 18, 21, 24, 'a', 'b', 'c', 'd', 15, 18, 21, 24, 'a', 'b', 'c', 'd', 15, 18, 21, 24]

In [220]:
len(list1)

8

In [230]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [225]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [231]:
list1.append('a')#append는 실제 값을 변경시킴, 요소를 인자로 받음
list1

[0, 1, 2, 3, 4, 'a']

In [232]:
list1.extend(['b,c'])
list1

[0, 1, 2, 3, 4, 'a', 'b,c']

In [ ]:
#entend => += 과 동일
#list1.extned([1,2]) 
#list1 = list1 + [1,2]//len가 달라짐

In [233]:
list1.append([3,4])
list1

[0, 1, 2, 3, 4, 'a', 'b,c', [3, 4]]

# pop &remove (꺼내고 없애는 것)

In [276]:
list1 =  list(range(5))
list1

TypeError: 'list' object is not callable

In [235]:
a = list1.pop()#꺼내고 반환한다
print(list1)
print(a)

[0, 1, 2, 3]
4

In [236]:
b = list1.pop(1)
print(list1)
print(b)

[0, 2, 3]
1

In [237]:
list1

[0, 2, 3]

In [238]:
list1.remove(2)
list1

[0, 3]

In [239]:
list1.insert(1,'a') #특정 리스트에 값을 추가할때 사용
list1

[0, 'a', 3]

# count & sort&reverse&index

In [262]:
list1 = [1,1,2,2,3,4]
list1

[1, 1, 2, 2, 3, 4]

In [263]:
list1.count(1), list1.count(3)

(2, 1)

In [264]:
list1.index(2)#중복시 첫번째 있는 것을 반환함

2

In [265]:
list1.reverse()
list1

[4, 3, 2, 2, 1, 1]

In [266]:
list1.sort()#오름차순 정렬
list1

[1, 1, 2, 2, 3, 4]

In [267]:
list1.sort(reverse=True)#내림차순 정렬
list1

[4, 3, 2, 2, 1, 1]

In [268]:
list1

[4, 3, 2, 2, 1, 1]

In [269]:
tuple1 = tuple(list1)
tuple1#튜플을 값을 수정할 수 없어서 append(X)

(4, 3, 2, 2, 1, 1)

In [270]:
tuple1[1] = 4
tuple1

TypeError: 'tuple' object does not support item assignment

# List의 복사

In [278]:
list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [279]:
list2 = list1
list2

[1, 2, 3, 4]

In [280]:
list2.append(10)
list[0] = 'a'
list2

[1, 2, 3, 4, 10]

In [275]:
list1 = list(range(5))
list1

TypeError: 'list' object is not callable

In [281]:
a = 10
b = a
a, b

(10, 10)

In [282]:
b= 20
a, b

(10, 20)

#copy

In [284]:
list1 = [0,1,2,3,4]
list1

[0, 1, 2, 3, 4]

In [285]:
list2 = list1.copy()

In [286]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10]

In [287]:
list1 = [
    [1,2,3], [4,5,6], [7,8,9]
]

In [288]:
list2 = list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [289]:
list2[0][1] = 'a'
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [290]:
list1

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

##deepcopymm

In [291]:
list1 = [
    [1,2,3], [4,5,6], [7,8,9]
]

In [292]:
import copy

In [293]:
list2 = copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [295]:
list2[0][0] = 'a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [296]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [297]:
list2[0][1]
list

2

# Dicitionary

In [298]:
a= {}
type(a)

dict

In [299]:
a = dict()
type(a)

dict

In [301]:
profile = {
    'name' : '김지연',
     'addr' : 'Seoul',
     'height': 166
    
}

In [303]:
profile

{'name': '김지연', 'addr': 'Seoul', 'height': 166}

In [304]:
profile['name']

'김지연'

In [306]:
profile['addr']

'Seoul'

In [307]:
profile = dict(

    name = "김지연",
    addr = "seoul",
    height = 166
)
profile

{'name': '김지연', 'addr': 'seoul', 'height': 166}

In [308]:
profile = dict(

    name = "김지연",
    addr = "seoul",
    height = 166,
    friends = ["Minsoo", "judy", "poll"]#리스트 사용가능
)
profile

{'name': '김지연',
 'addr': 'seoul',
 'height': 166,
 'friends': ['Minsoo', 'judy', 'poll']}

In [309]:
#dic에서는 key가 중점, list는 value 중심
'김지연' in profile

False

In [310]:
'name' in profile

True

## DIctionary 함수.

In [311]:
profile['name'] = '김민주'
profile

{'name': '김민주',
 'addr': 'seoul',
 'height': 166,
 'friends': ['Minsoo', 'judy', 'poll']}

In [312]:
profile['name'] = '김지연'
profile

{'name': '김지연',
 'addr': 'seoul',
 'height': 166,
 'friends': ['Minsoo', 'judy', 'poll']}

In [313]:
profile['addr'] = 'Busan'
profile

{'name': '김지연',
 'addr': 'Busan',
 'height': 166,
 'friends': ['Minsoo', 'judy', 'poll']}

In [314]:
profile['math_score'] = 10
profile

{'name': '김지연',
 'addr': 'Busan',
 'height': 166,
 'friends': ['Minsoo', 'judy', 'poll'],
 'math_score': 10}

In [315]:
profile.setdefault('english_score', 100)
profile#값이 있으면 바꾸지 않고 그렇지 않으면 default값으로 정함

{'name': '김지연',
 'addr': 'Busan',
 'height': 166,
 'friends': ['Minsoo', 'judy', 'poll'],
 'math_score': 10,
 'english_score': 100}

In [316]:
profile.setdefault('english_score', 50)
profile#값이 있으면 바꾸지 않고 그렇지 않으면 default값으로 정함

{'name': '김지연',
 'addr': 'Busan',
 'height': 166,
 'friends': ['Minsoo', 'judy', 'poll'],
 'math_score': 10,
 'english_score': 100}

In [317]:
profile.update({
    'math_score': 50,
    'height' : 170
})
profile#한번에 값을 업데이트 함

{'name': '김지연',
 'addr': 'Busan',
 'height': 170,
 'friends': ['Minsoo', 'judy', 'poll'],
 'math_score': 50,
 'english_score': 100}

In [318]:
profile['name']

'김지연'

In [319]:
profile['comment']

KeyError: 'comment'

In [320]:
profile.get('name')

'김지연'

In [321]:
print(profile.get('comment'))#key가 없으면 none으로 함

None

In [322]:
profile.get('comment', [])

[]

In [329]:
height = profile.pop('height')
print(height)
print(profile)

KeyError: 'height'

In [325]:
profile.keys()

dict_keys(['name', 'addr', 'friends', 'math_score', 'english_score'])

In [331]:
profile.values()

dict_values([])

In [332]:
profile.items()

dict_items([])

In [330]:
profile.clear()
profile

{}

# Set(집합에서 요소들이 중복X)

In [336]:
set1 = {1,2,3,3,3,3,3,}#중복제거
set1

{1, 2, 3}

In [356]:
list1 = [1,2,3,3,3,3,3,]
list(set(list1))

TypeError: 'list' object is not callable

In [340]:
set1

{1, 2, 3}

In [342]:
set1 = {1,2,3}
set2 = {3,4,5}
set1, set2

({1, 2, 3}, {3, 4, 5})

# 집합 연산자 & 함수

In [345]:
set1 | set2

{1, 2, 3, 4, 5}

In [346]:
set.union(set1, set2)

{1, 2, 3, 4, 5}

In [347]:
set1 & set2 #교집합

{3}

In [348]:
set.intersection(set1, set2)

{3}

In [350]:
set1 - set2

{1, 2}

In [351]:
set.difference(set1, set2)

{1, 2}

In [352]:
set1 ^ set2#합집합에서 교집합을 뺀 차집합

{1, 2, 4, 5}

In [353]:
set.symmetric_difference(set1, set2)

{1, 2, 4, 5}

In [357]:
{1} <= set1

True

In [358]:
set1 <= set2

False

In [359]:
set1.issubset(set2)

False

In [360]:
{1}.issubset(set1)

True

In [361]:
{1,2,3}.isdisjoint({3,4,5})

False

In [362]:
set1.add(4)
set1

{1, 2, 3, 4}

## Bool 형변환

In [363]:
bool(0), bool(1)

(False, True)

In [366]:
bool(0.0), bool(0.2)

(False, True)

In [367]:
bool("Hello")

True

In [368]:
bool(" ")

True

In [369]:
bool("")

False

In [370]:
bool([1]), bool([])#값이 있으면 True 없으면 False

(True, False)

In [371]:
bool({}), bool({'name':'hi'})

(False, True)