# 연습문제4
#시세 데이터의 일별시세 
#리스트 날짜 종가 전일비 시가 고가 저가 거래량

In [1]:
import requests

In [9]:
base_url ='https://finance.naver.com/item/sise.nhn')
params = {
    'code': '005930'
}
resp = requests.get(base_url, params = params)

In [3]:
from bs4 import BeautifulSoup

In [5]:
soup = BeautifulSoup(resp.text)
type(soup)

bs4.BeautifulSoup

In [11]:
day_sise = soup.find('iframe', attrs = {'name':'day'})
day_sise

<iframe bottommargin="0" frameborder="0" height="360" marginheight="0" name="day" scrolling="no" src="/item/sise_time.nhn?code=005930&amp;thistime=20200731094110" style="margin-top:20px;clear:both" title="주요 시세" topmargin="0" width="100%"></iframe>

# 올바른 url

In [12]:
base_url = 'https://finance.naver.com/item/sise_day.nhn'
params = {
    'code': '005930'
}
resp = requests.get(base_url, params = params)
soup = BeautifulSoup(resp.text)

In [36]:
#soup.select('table.type2 tr')

In [39]:
tr_tags = soup.select('table.type2 tr')
len(tr_tags)

16

In [40]:
tr_tags

[<tr>
 <th>날짜</th>
 <th>종가</th>
 <th>전일비</th>
 <th>시가</th>
 <th>고가</th>
 <th>저가</th>
 <th>거래량</th>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.31</span></td>
 <td class="num"><span class="tah p11">58,900</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				100
 				</span>
 </td>
 <td class="num"><span class="tah p11">59,500</span></td>
 <td class="num"><span class="tah p11">59,600</span></td>
 <td class="num"><span class="tah p11">58,400</span></td>
 <td class="num"><span class="tah p11">6,925,599</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.30</span></td>
 <td class="num"><span class="tah p11">59,000</span></td>
 <td class="num">
 <span class="tah p11">0</span>
 </td>
 <td class="num"><span class="tah p11">59,700</span></td>
 <td class="num"><span class="tah p11">60,100</span></td>
 <td class="num"><span class="tah p11">59,000</span></td>
 <td class="num"><span class="tah p11">19,285,354</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.29</span></td>
 <td class="num"><span class="tah p11">59,000</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				400
 				</span>
 </td>
 <td class="num"><span class="tah p11">60,300</span></td>
 <td class="num"><span class="tah p11">60,400</span></td>
 <td class="num"><span class="tah p11">58,600</span></td>
 <td class="num"><span class="tah p11">36,476,611</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.28</span></td>
 <td class="num"><span class="tah p11">58,600</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				3,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">57,000</span></td>
 <td class="num"><span class="tah p11">58,800</span></td>
 <td class="num"><span class="tah p11">56,400</span></td>
 <td class="num"><span class="tah p11">48,431,566</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.27</span></td>
 <td class="num"><span class="tah p11">55,600</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,400
 				</span>
 </td>
 <td class="num"><span class="tah p11">54,300</span></td>
 <td class="num"><span class="tah p11">55,700</span></td>
 <td class="num"><span class="tah p11">54,300</span></td>
 <td class="num"><span class="tah p11">21,054,421</span></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr>
 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.24</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				100
 				</span>
 </td>
 <td class="num"><span class="tah p11">54,000</span></td>
 <td class="num"><span class="tah p11">54,400</span></td>
 <td class="num"><span class="tah p11">53,700</span></td>
 <td class="num"><span class="tah p11">10,994,535</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.23</span></td>
 <td class="num"><span class="tah p11">54,100</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				600
 				</span>
 </td>
 <td class="num"><span class="tah p11">54,700</span></td>
 <td class="num"><span class="tah p11">54,700</span></td>
 <td class="num"><span class="tah p11">53,800</span></td>
 <td class="num"><span class="tah p11">16,214,932</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.22</span></td>
 <td class="num"><span class="tah p11">54,700</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				600
 				</span>
 </td>
 <td class="num"><span class="tah p11">55,300</span></td>
 <td class="num"><span class="tah p11">55,500</span></td>
 <td class="num"><span class="tah p11">54,700</span></td>
 <td class="num"><span class="tah p11">12,885,057</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.21</span></td>
 <td class="num"><span class="tah p11">55,300</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,100
 				</span>
 </td>
 <td class="num"><span class="tah p11">55,200</span></td>
 <td class="num"><span class="tah p11">55,400</span></td>
 <td class="num"><span class="tah p11">54,800</span></td>
 <td class="num"><span class="tah p11">18,297,260</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.20</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">54,800</span></td>
 <td class="num"><span class="tah p11">54,800</span></td>
 <td class="num"><span class="tah p11">54,000</span></td>
 <td class="num"><span class="tah p11">10,507,530</span></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>]

In [41]:
th_tags = tr_tags[0].find_all('th')
title_list = []
for th in th_tags:
    title_list.append(th.text)
    
print(title_list)

['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']

In [43]:
result_list = []
for tr_tag in tr_tags:
    td_tags = tr_tags.find_all('td')
    if len(td_tags) < 7:
        continue
        
data_list = []
    for td in td_tags:
        data_list.append(td.text.strip())
        result_list.append(
        dict(zip(title_list, data_list))
    )

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?