In [1]:
def add_num(num1, num2): 
    print("add_num 함수 실행")
    return num1+num2

In [2]:
add_num(3,5)

add_num 함수 실행

8

In [3]:
output =  add_num(3,5)

add_num 함수 실행

In [4]:
output

8

In [10]:
#인자x, reutrn x
def func1():
    print("hell world")

In [11]:
func1()

hell world

In [12]:
a = func1()
print(a)

hell world
None

In [6]:
# 인자x, return 0
def func2():
    return ("Hello World")

In [13]:
a = func2()
a

'Hello World'

In [15]:
#인자0 return
def func3(name):
    return ("Hello %s" % name)

In [16]:
a = func3("Python")
a

'Hello Python'

In [20]:
def func4(name):
    print ("Hello %s" % name)

In [21]:
a = func4("Python")
print(a)

Hello Python
None

# 변수의 scope

In [22]:
a, b, c = 1, 2,5#전역변수의 위치는 변하지x

In [23]:
def func1():
    a=3
    b=4
    print(a,b,c)#지역변수
    return

In [24]:
func1()

3 4 5

In [25]:
a, b, c

(1, 2, 5)

In [26]:
def func2():
    a=5
    b=6
    func1()
    print (a,b)

In [27]:
func2()

3 4 5
5 6

In [28]:
a = 5 
def func3():
    global a#전역변수 a를 사용하겠다
    a=1
    print(a)
    
func3()
print(a)

1
1

In [ ]:
def b()
    return num1-num2
def c()
    return num1*num2
def d()
     return num1/num2

# 연습문제1
사칙연산 함수만들기
ex)
calc(5, 6)
덧셈: 11, 뺄셈: -1, 곱셈: 30, 나눗셈: 0.8333333333333334

a= calc(5,6)
return Type: (덧셈결과, 뺄셈결과, 곱셈결과, 나눗셈결과)

In [35]:
#def add_num(num1, num2): 
#print("add_num 함수 실행")
   # return num1+num2

# 연습문제1

#튜플 반환
def cals(num1,num2):
    return num1+num2, num1-num2, num1*num2, num1/num2
a = cals(5,6)
a

(11, -1, 30, 0.8333333333333334)

In [44]:
def cal(a,b):
    result = [a+b,  a-b, a*b, a/b]
    print("덧셈:{}, 뺄셈:{}, 곱셈:{}, 나눗셈:{}" .format(result[0], result[1],  result[2], result[3]))
    return result

In [45]:
cals(5,6)

(11, -1, 30, 0.8333333333333334)

# 연습문제2
해당값을 모두 찾아 위치를 리턴해주는 함수만들기
ex)
lis =[1, 2, 3, 1, 4, 2, 1]
allindex(lis, 1)
[0, 3, 6]

def allinedx(a, b):

In [46]:
#index사용



def allindex(l, target):#리스트 , 타켓
    
    result = []
    for idx, val in enumerate(l):#인덱스를 포함해서 계산
        if(val == target):
            result.append(idx)
    return result#**블럭 주의해서

In [47]:
lis = [1,2,3,1,4,2,1]
allindex(lis,1)

[0, 3, 6]

# lambda함수

In [62]:
(lambda x:x**2)(5)

25

In [63]:
(lambda x,y:(x+y, x-y))(3,4)

(7, -1)

In [64]:
add = lambda x,y:x+y

In [65]:
add

In [66]:
add(3,4)

7

In [72]:
lis = [1,2,3,1,4,2,1]

In [4]:
list(map(str,lis))

['1', '2', '3', '1', '4', '2', '1']

In [2]:
lis = [1,2,3,1,4,2,1]
lis

[1, 2, 3, 1, 4, 2, 1]

In [3]:
list(map(lambda x:x**2,lis))

[1, 4, 9, 1, 16, 4, 1]

# 인수

In [77]:
def make_profile(name, email, height):
    return {
        'name': name,
        'email': email,
        'height': height
    }

In [78]:
make_profile("김지연",'cowqjffo@naver.com',166)

{'name': '김지연', 'email': 'cowqjffo@naver.com', 'height': 166}

In [79]:
make_profile("김지연", height=166, email='cowqjffo@naver.com')

{'name': '김지연', 'email': 'cowqjffo@naver.com', 'height': 166}

# 가변인수

In [80]:
def add(*args):#확장해서 변수가 들어옴
    print(args)
    print(type(args))
    return sum(args)

In [81]:
a= add(1)

(1,)
<class 'tuple'>

In [82]:
a = add(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [83]:
a

15

# 가변키워드인수(*kwargs)

In [90]:
def make_profile(**kwargs):
    print (type(kwargs))
    print(kwargs)
    if kwargs.get('email'):
        make_email()
        
    if kwargs.get('password'):
        make_password(kwargs['password'])
        
    return kwargs

In [89]:
profile = make_profile(name='김지연',city='서울', email = 'cowqjffo@naver.com')

<class 'dict'>
{'name': '김지연', 'city': '서울', 'email': 'cowqjffo@naver.com'}

In [91]:
def make_profile(name, email, city="Seoul", *friends, **kwargs):
    result = {
        'name': name,
        "email": email,
        "city": city,
        "friends": friends,
    }
    result.update(kwargs)
    return result

In [92]:
make_profile("김지연",'cowqjffo@Naver.com')#*friends, **kwargs)가변적이기 때문에 없어도 됨, city는 고정값

{'name': '김지연', 'email': 'cowqjffo@Naver.com', 'city': 'Seoul', 'friends': ()}

In [ ]:
make_profile("김지연", "cowqjffo@naver.com", "부산","judy",'mike','poll', intro='hi, i am jiyeon')
#초기값이 있을떄 변경값이 있으면 변경

In [112]:
def func1(*args):
    return(args)
    print(type(args))
    return sum(args)

In [113]:
list1 = [1,2,3,5,6]

In [114]:
func1(list1,2)

([1, 2, 3, 5, 6], 2)

In [115]:
def func1(*args):
    return(args)
    print(type(args))
    return sum(args)

list1 = [1,2,3,5,6]
func1(*list1)

(1, 2, 3, 5, 6)

In [105]:
def validate_profile(**profile):
    print(profile)
    print(type(profile))
    if not profile.get('email'):
        return False
    
    if not profile['email'].count("@"):
        return False
    
    return True

In [111]:
profile = {
    'name ': '김지연',
    'city': 'seoul',
    'email':'cowqjffo@maver.com'
}

In [109]:
validate_profile(**profile)#dictionary를 풀어서 넣는다

{'name ': '김지연', 'city': 'seoul'}
<class 'dict'>

False

# 연습문제3
가변인수와 고정인수를 사용해 모든값을 더하거나 빼거나 곱하는 함수 작성
ex)
>>> calc("+", 1, 2, 3, 4, 5) # 1 + 2 + 3 + 4 + 5
15
>>> calc("-", 1, 2, 3, 4, 5) # 1 - 2 - 3 - 4 - 5
-13
>>> calc("*", 1, 2, 3, 4, 5) # 1 * 2 * 3 * 4 * 5
120

In [55]:
def cal(operator,*args):
    if operator == '+':
        return sum(args)
    elif operator == '-':
        return args[0] - sum(args[1:])
    elif operator == '*':
        result = args[0]
        for i in args[1:]:
            result = result*i
        return result
    return False

In [56]:
a = cal('-',1,2,3,4,5)
a

-13

# 연습문제4
가변인수를 이용 가장 높은값, 낮은값, 평균값을 구하는 함수 작성
ex)
>>> calc(1,2,3,4,5)
최대값 : 5, 최소값 : 1, 평균값 : 3.0

In [27]:
def calc(*args):
    print("최대값: {}, 최소값: {}, 평균값:{}" .format(
        max(args), min(args), sum(args)/len(args) ))

In [28]:
a = calc(1,2,3,4,5)
a

최대값: 5, 최소값: 1, 평균값:3.0